a {
    padding: 5px 15px;
    background-color: #8d0000;
    color: #dcdcdc;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
}
a:active {
    background-color: #8d0000aa;
}